
body {
    background-color: #F0F0F0;
}

.page-container {
    background-color: #F0F0F0; 
}

.page-header{
    min-width: 285px;
}

.page-header.navbar {
    background-color:  #F0F0F0;
}

.page-header.navbar .menu-toggler {
    background-image: url(../images/sidebar_inline_toggler_icon_blue.jpg);
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #F0F0F0;
    }

.rightshift {
    float:right;
    background-color: transparent !important;
}



table.dataTable thead .sorting {
    background: url(../images/sort_both.png) center right no-repeat !important;
}

.page-content-wrapper .page-content {
    min-height: 800px;
   
}

.formcustomaction {
    background-color: transparent !important;
}
.portlet.box.purple {
    overflow:auto;
}

.text-danger {
    margin-left:2%;
}

th,td {
    text-align: center;
}

.table-scrollable>.table>thead>tr>th.promo {
   
    max-width: 80px;
    min-width: 70px;
    white-space: normal;
    text-align: center;
}

.table > thead > tr > th {
    vertical-align: middle;

}

.desc {
    min-width: 200px;max-width: 250px;
}

.status {
    min-width: 160px;
    max-width: 10%;
}

.action {
    min-width: 30px;
    max-width: 50px;
}
.actionmultiple {
    min-width: 10px;
    max-width: 20px;
}

.srno {
    min-width: 10px;
    max-width: 20px;
}



.page-sidebar-menu>li:hover>a{background:#3980c2!important;font-weight: bold}
.page-sidebar-menu>li:hover>a>.fa{font-size:20px;color:white!important;}
.page-sidebar-menu>li:hover>a>.title{color:white!important;}

.page-sidebar .page-sidebar-menu>li>a,.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{border:0;color:#b4bcc8}


.page-header.navbar {
    height: 80px;
    min-height: 80px;
}

.caption-subject {
    color:white;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover ,.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle{
    background-color: transparent;
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    background:  #F0F0F0;
    color:white;
    font-weight: bold;

}

.portletcustom {
    background-color: transparent!important;
}

.colorlabel {
    color:#34495e !important;
}

@media (max-width: 480px){
    .page-header.navbar .top-menu {
    background-color: transparent;
}

}


@media (max-width:600px) {
	.input-medium.customInput{
		width:100px !important;
		
	}

	.input-group {
		margin-bottom: 10px;
	}


}



@media (max-width: 300px){
	
	.btn-group {
		text-align: center;
	}

	.fa .fa-plus {
		padding-right:10px;
	}
}

.page-sidebar .page-sidebar-menu > li.active.open > a:hover , {
    background: #3980C2 !important;
    color:white;
}

.title {
    color:black;
}

.title:active {
    color:white;
}


.dpholder {
    margin-top: 25%;
    height:200px;
    border:1px solid #cecece;
}
.image-group {
    height:auto;
    border: 1px solid #cecece;
}

.galleryholder {
    height:150px;
    border:1px solid #cecece;
}

.gallery {
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
}


.clearfixcol {
    background-color: transparent;
}

tbody.datatablecustom > tr > td {
    overflow: auto;
}

@media (max-width: 480px){
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle:hover {
    background-color:transparent;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    background-color:transparent;
    margin-top: 5px;
}

.page-content{
    margin-right:30px;
}

.page-header.navbar .top-menu {
    background-color: transparent;
}

.page-sidebar .page-sidebar-menu > li > a {
    color: #e5e5e5;
}

.page-sidebar-menu{
	padding-top: 20px!important;
}

}
.centerdiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.company-logo {
   margin-left: 5%;
}


.form-title {
	text-align: center;
	color:blue;
	margin:20px auto;
}

.center-section{
	background-color:  #FAFAFA;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 500px;
    margin-top: 40px;
    margin-bottom: 10px;
   
    padding: 50px 20px 50px;
    overflow: hidden;
    position: relative;
    border-style: dotted;
    border-color: #ccc;
}

.content-section {
    background-color:  #FAFAFA;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
   
    margin-top: 40px;
    margin-bottom: 10px;
    
    padding: 50px 20px 50px;
    overflow: auto;
    position: relative;
    border-style: dotted;
    border-color: #ccc;

}



.content-heading {
    
    text-align: center
}

.input-circle-right {
    border-radius: 0 25px 25px 0!important;
   
}

.input-circle-left {
    border-radius: 25px 0 0 25px!important;
   
}

.input-circle {
	 border-radius: 25px 25px 25px 25px!important;
	 size:100;
      
}

.img-large, .img-mobile {
    margin-bottom: 5%;
}

@media screen and (max-width: 400px) {
    .center-section{
        width:250px;
    }

    .img-mobile {
        display:block;
        
    }

    .img-large {
        display: none;
    }

    .forgotpass {
        padding-left:0 !important;
        padding-right:0 !important;
    }

     .loginpass {
        width:20px;
        padding-left:5px !important;
        padding-right:5px !important;
    }

    .company-logo {
        padding-left:40px;

    }

    
}

@media screen and (min-width: 400px) {

   

    .img-large{
    display: block;
     
    }

    .img-mobile {
    display:none;
    }
    
}

.portlet-title {
    background-color:#3980c2 !important;
}

@media screen and (max-width: 320px) {
   .content-section {
    width:300px !important;
   }
    
}

@media (min-width: 840px){
	.uploadbtn {
		width:100%;
		padding:10px;
	}

	 .deletebtn {
    	width:100% !important;
     	padding:10px;
   } 
}

@media (max-width: 839px) {
	.uploadbtn {
		width:100px;
		padding:10px;
	}

	 .deletebtn {
    	width:100px ;
     	padding:10px;
   } 

   .deletebtn.deletedp {
   	width:100%;
   }

   .uploadbtn.uploaddp {
   	width:100%;
   }
}

@media (max-width: 660px) {
	.merchantdp {
		width:50%;
		margin-left: 25%;
		margin-right: 25%;
	}

	.dpholder {
		width:250px;
	}

	.deletedp {
		margin-left: 15px;
		
	}
	.uploaddp {
		margin-left: 15px;
		
	}

	 .deletebtn.deletedp {
   	width:100px;
   }

   .uploadbtn.uploaddp {
   	width:100px;
   }

}

@media (max-width: 580px) {

	.merchantdp {
		width:50%;
		margin-left:100px;
		margin-right: 100px;
	}

	.deletedp {
		margin-left: 75px;
		
	}
	.uploaddp {
		margin-left: 75px;
		margin-top: 10px!important;
		
	}

}

@media (max-width: 500px) {
	.merchantdp {
		width:50%;
		margin-left: 50px;
		margin-right:50px;
	}

	.maplabel,.gallerylabel{
		width:80%;
	}

	.mapholder,.galleryboxholder {
		width: 100%;
	}
}

@media (max-width: 420px) {
	.merchantdp {
		width:50%;
		margin-left: 20px;
		margin-right:20px;
	}
}

@media (max-width: 350px) {
	.dpholder {
		width:180px;
	}
		.merchantdp {
		width:50%;
		margin-left: 20px;
		margin-right:20px;
	}

	.deletedp {
		margin-left: 40px !important;
	}
	.uploaddp {
		margin-left: 40px !important;
	}
	

}

#search,#date {
	margin-left: 0px;
}

@media (max-width: 370px) {

	.caption {
		width:100%;
	}

	.control-label{
		width: 100%;
		margin-left: 25px;
		margin-bottom: 10px;
	}

	.form-control {
		min-width: 200px;
		margin-left: 25px;
		margin-bottom: 10px;
	}

	.form-control.searchFormControl {
		min-width: 150px;
		margin-left: 0px;
	}

	.form-control.searchFormControl.dateSearch {
		min-width: 150px !important;
		margin-left: 0px;
	}

	.imgholder {
		width:150px;
		margin-left:50%;
		margin-right: 50%;

	}

	.text-danger {
		margin-left: 26px;
		width: 150px;
	}

	.uploadbtn {
		width:100px;
		padding:10px;
		margin-left:200%;
		margin-right: 50%;
	}

	.uploadbtn.uploadgallery {
		margin-left: 80px;
	}

	.deletebtn.deletegallery {
		margin-left: 80px;
	}

	.galleryboxholder {
		width: 100%;
	}
	 .deletebtn {
    	width:100px ;
     	padding:10px;
     	margin-left:200%;
		margin-right: 50%;
   } 

   .deletebtn.deletedp {
   	margin-left: 80px;

   }
   .uploadbtn.uploaddp {
   	margin-left: 80px;

   }


   .offerstartdate,.offerenddate,.promostartdate,.promoenddate {
   	padding-left: 35px ;
   }

   .offerstartdate.searchDateInput {
   	padding-left: 0px ;
   }

   #date {
   	min-width: 160px;
   }

   .datehelpbox {
		margin-left: 26px;
		width: 180px;
	}

	.merchantformbody {
		padding-left: 0px !important;
	}


}

@media (min-width: 670px) {
	.searchUserInput,.searchIdInput {
		width: 50%;
	}
}

@media (max-width: 669px){
	.searchUserInput,.searchIdInput,.searchMerchantInput,.searchStartDateInput,.searchEndDateInput {
		width: 50%;
	}
}

@media (max-width: 475px){
	.searchMerchantInput,.searchStartDateInput,.searchEndDateInput {
		width: 75%;
	}

	.searchUserInput,.searchIdInput {
		width:90%;
	}
}



@media (min-width: 371px) {
	.datehelpbox.enddatehelpbox.settlementdatehelpbox {
		left:25%;
	}
}

@media (max-width: 290px) {
	.mapholderbox {
		min-width: 200px;
	}
}
@media (max-width: 300px){
	.form-control {
		min-width: 150px;
		margin-left:25px;
		margin-bottom: 10px;
	}

	.imgholder {
		width:120px;
		margin-left:50%;
		margin-right: 50%;

	}


	.uploadbtn {
		width:100px;
		padding:10px;
		margin-left:200%;
		margin-right: 50%;
	}

	 .deletebtn {
    	width:100px ;
     	padding:10px;
     	margin-left:200%;
		margin-right: 50%;
   } 


   #date {
   	min-width: 120px;
   }
}


@media (max-width: 431px) {
	.datehelpbox {
		left: 0px;
	}

	.datehelpbox.enddatehelpbox {
		left:25%;
	}
}

@media (max-width: 412px) {
	.datehelpbox.enddatehelpbox {
		left:0px;
	}
}

@media (max-width: 660px){
	.merchanteditform {
		width: 100%;
	}
}

@media (min-width: 1200px)
{
	.status ,.action{
		width:100px;
	}
}

.portlet.box.purple > .portlet-title {
    background-color:#3980c2 !important;
}

.select2-container .select2-search--inline {
    float: left;
}
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.form-control.select2-hidden-accessible {
    position: absolute !important;
    width: 1px !important;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.select2-bootstrap-append .select2-container--bootstrap, .select2-bootstrap-append .input-group-btn, .select2-bootstrap-append .input-group-btn .btn, .select2-bootstrap-prepend .select2-container--bootstrap, .select2-bootstrap-prepend .input-group-btn, .select2-bootstrap-prepend .input-group-btn .btn {
    vertical-align: top;
}
.input-group .select2-container--bootstrap {
    display: table;
    table-layout: fixed;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.select2-container--bootstrap {
    display: block;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    display: block;
    line-height: 1.42857;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-group.select2-bootstrap-append .select2-container--bootstrap .select2-selection {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    background: transparent;
    padding: 0 12px;
    height: 32px;
    line-height: 1.42857;
    margin-top: 0;
    min-width: 5em;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
}
.select2-container--bootstrap .select2-search__field {
    outline: 0;
}


.marginbtn {
    margin-left:5%;
}

.descoverflow {
    overflow:scroll;
}

.margin-form-btn {
    margin-left: 10px;
}

.color-fa {
    color:blue ;
}

.button-color {
    background-color: #FF4081;
    color:white;
  } 

  .button-color-table {
    background-color:transparent;
    color: #FF4081;
    font-size:20px;
  }

  .margincontent {
    margin-left: 5%;
    margin-top:5%;
  }

  .margincontentmail {
    margin-left:10%;
    margin-top:5%;
  }

.portlet-box-blue {
	min-width: 500px;
}

.emailbody {
	height:auto;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.emaillogo {
	
	text-align: center;
}

.form .form-actions.emailfooter, .portlet-form .form-actions.emailfooter {
    
    background-color: #3980c2;
}

.copyrightcenter{
    text-align: center;
    color: #737373;
}

.halfwidthbtn {
    width:45%;
}

#cusstombtn {
    margin-left: 40%;
}

.btn .button-color:hover {
    color:white;
}

.black {
    color:black !important;

}


.imgholder {
   
    height:150px;
    border: 1px solid black;
    opacity: 0.1;
    float:left;
}

.filebtn {
    margin-left:5%;
    margin-top:2%;
}


.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 100px;
    direction: ltr;
    cursor: pointer;
}   

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}






